extends layout

block content  
  h1= title
  p Welcome to #{title}
  br
  button(onclick="signin()") Login

  script.
    var search = window.location.search;
    var equalSign = search.indexOf('=');
    var clientID = search.substring(equalSign+1);
    var lock = new Auth0Lock('#{env.AUTH0_CLIENT_ID}', '#{env.AUTH0_DOMAIN}', { auth: {
          redirectUrl: '#{env.AUTH0_CALLBACK_URL}'
        , responseType: 'code'
        , params: {
          scope: 'openid name roles',
          state: clientID
        }
      }});
    function signin() {
      lock.show();
    }

  
